body {
    font-family: "Arial";
    line-height: 1.2;
    font-weight: 400;
    word-spacing: normal;
    text-transform: none;
    background-color: #eee;
}

header {
    background-color: #aaa;
    margin-left: 160px;
    padding: 0 1em;
    width: auto;
}

main {
    margin-left: 160px;
    padding: 0 10px;
}

footer {
    background-color: #aaa;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

p {
    text-indent: 20px;
}

nav {
    position: fixed;
    width: 160px;
    top: 20px;
    left: 10px;
    background: #ddd;
    padding: 8px 0;
}

nav ul {
    padding: 8px;
    list-style: none;
}

nav a {
    font-size: 110%;
    display: block;
    padding: 6px 8px;
    color: #2196F3;
}

nav a:hover {
    color: #064579;
    text-decoration: underline;
    background-color: #aaa;
}

nav .current {
    background-color: #bbb;
}

.img_right {
    float: right;
    margin: 7px 0 7px 7px;
}

.img_left {
    float: left;
    margin: 7px 7px 7px 0;
}

.gallery_unit {
    margin: 5px;
    border: 1px solid #888;
    float: left;
    width: auto;
}

.gallery_unit_img {
    width: auto;
    height: 160px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

div.gallery_unit_desc {
    padding: 15px;
    text-align: center;
    background-color: #999;
}


@media screen and (handheld), screen and (max-width: 800px) {
    footer {
        display: none;
    }
}

.grid_table {
    display: grid;
    grid-template-columns: 
        minmax(150px, 2fr)
        minmax(100px, 1fr)
        minmax(100px, 1fr)
        minmax(150px, 3fr)
        minmax(150px, 2fr)
        minmax(150px, 3fr);
}

.grid_table thead,
.grid_table tbody,
.grid_table tr {
    display: contents;
}

.grid_table tr:nth-child(even) td {
    background-color: #ddd;
}

.grid_table th {
    background-color: #ddd;
}